@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navindex{
  z-index: 10;
}

.hoveffect{
  perspective: 1000px;
}

.listelement{
  transition: all 0.5s ease;
}

.listelement:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.font-fam{
  font-family: Moena;
  font-size: 40px;
}

.font-fam1{
  font-family: Moena;
  font-size: 50px;
}

.font-fam2{
  font-family: Moena;
  font-size: 30px;
}

.bg-button{
  background-color: white;
  color: black;
  border: none;
  transition: all 0.8s ease;
}

.bg-button:hover{
  cursor: pointer;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.inpborder{
  border: 1px solid white;
}

@keyframes bgSlideshow {
  0% {
    background-image: url('/Sneaker1.jpg');
  }
  25% {
    background-image: url('/Sneaker2.webp');
  }
  50% {
    background-image: url('/Sneaker3.jpg');
  }
  75% {
    background-image: url('/Sneaker4.webp');
  }
  100% {
    background-image: url('/Sneaker3.jpg');
  }
}

.bgimage {
  width: 100%;
  height: 500px; /* Add height to make it visible */
  position: absolute;
  top: 0;
  left: 0;
  animation: bgSlideshow 20s infinite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}