@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hoveffect{
  perspective: 1000px;
}

.listelement{
  transition: all 0.5s ease;
}

.listelement:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.font-fam{
  font-family: Moena;
  font-size: 40px;
}

.bg-button{
  background-color: white;
  color: black;
  border: none;
  transition: all 0.8s ease;
}

.bg-button:hover{
  cursor: pointer;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.inpborder{
  border: 1px solid white;
}
